<%= form_with(model: testimonial, url: path) do |form| %>
  <% if testimonial.errors.any? %>
    <div style="color: red">

      <ul>
        <% testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div data-controller="previews">
    <%= form.label :image, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :image,
      accept: "image/*",
      class: "form-control",
      direct_upload: true,
      data: { previews_target: "input", action: "change->previews#preview"} %>

    <div class="my-1 d-flex" data-previews-target="previewContainer">
      <% if testimonial.image.attached? %>
        <%= image_tag testimonial.image.variant(:avatar), style: "width: 150px" %>
      <% end %>
    </div>

  </div>

  <div class="my-2">
    <%= form.label :client_type, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.select :client_type, [["Homeowner", "Homeowner"], ["Business Owner", "Business Owner"]], {}, { class: "form-select" } %>
  </div>

  <div class="mb-2">
    <%= form.label :testimony, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.textarea :testimony, class: "form-control", maxlength: 400, rows: 5, required: true %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "saira-stencil-one-regular btn btn-warning cta-btn-lg pt-2" %>
  </div>
<% end %>
