<%= form_with(model: admin_testimonial) do |form| %>
  <% if admin_testimonial.errors.any? %>
    <div style="color: red">

      <ul>
        <% admin_testimonial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :image, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :image, accept: "image/*" class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :location, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.label :testimony, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.textarea :testimony, class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "saira-stencil-one-regular btn btn-warning cta-btn" %>
  </div>
<% end %>
