<div id="<%= dom_id testimonial %>">
  <div>
    <strong>Name:</strong>
    <%= testimonial.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= testimonial.description %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= testimonial.location %>
  </div>

  <div>
    <strong>Testimony:</strong>
    <%= testimonial.testimony %>
  </div>

</div>
