<!-- Testimonals -->
<section id="testimonials" class="">
  <div class="container-fluid py-5 px-0">
    <div class="container">
      <h1 class="rubik-dirt-regular display-4 text-center text-shadow-light text-white mb-3">
        Our clients say it best.
      </h1>
    </div>
    <div class="row justify-content-center">

      <div class="col-12 col-sm-11 col-lg-8 col-xl-8 col-xxl-6 p-0">


        <div id="carouselTestimonials" class= "carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            
            <div class="carousel-item active">

              <div class="d-flex flex-column align-items-center justify-content-center testimonial">
                <% testimonial_first = testimonials.first %>
                <%= image_tag testimonial_first.image.variant(:avatar), class: "avatar mb-5" %>

                <div class="testimonial-text-container">
                  <figure class="text-center text-shadow">
                    <blockquote class="blockquote px-3">
                      <p class="text-white testimony">
                        <%= testimonial_first.testimony %>
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      <%= "#{testimonial_first.client_type}" %>, <cite title="Source Title"><%= testimonial_first.name.titleize %></cite>
                    </figcaption>
                  </figure>
                </div>

              </div>

            </div>

            <% testimonials.offset(1).each do |testimonial| %>
              <div class="carousel-item">

                <div class="d-flex flex-column align-items-center justify-content-center testimonial">
                  <%= image_tag testimonial.image.variant(:avatar), class: "avatar mb-5" %>

                  <div class="testimonial-text-container">
                    <figure class="text-center text-shadow">
                      <blockquote class="blockquote px-3">
                        <p class="text-white testimony">
                          <%= testimonial.testimony %>
                        </p>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                        <%= "#{testimonial.client_type}" %>, <cite title="Source Title"><%= testimonial.name.titleize %></cite>
                      </figcaption>
                    </figure>
                  </div>

                </div>

              </div>
            <% end %>

          </div>

          <button class="carousel-control-prev" type="button" data-controller="hide-controls" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-controller="hide-controls" data-bs-target="#carouselTestimonials" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>


      </div>

    </div>

  </div>
</section>
