<%= form_with(model: recent_job, url: admin_recent_jobs_path) do |form| %>
  <% if recent_job.errors.any? %>
    <div style="color: red">
      <ul>
        <% recent_job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="previews">
    <%= form.label :main_image, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :main_image,
      accept: "image/*",
      class: "form-control",
      direct_upload: true,
      data: { previews_target: "input", action: "change->previews#preview"} %>

    <div class="my-1 d-flex" data-previews-target="previewContainer">
      <% if recent_job.main_image.attached? %>
        <%= image_tag recent_job.main_image.variant(:thumb), style: "width: 150px" %>
      <% end %>
    </div>

  </div>

  <div class="mb-1" data-controller="previews">
    <%= form.label :images, class: "form-label saira-stencil-one-regular text-white" %>
    <%= form.file_field :images, accept: 'image/*', multiple: true, class: "form-control", data: { previews_target: "input", action: "change->previews#preview" } %>

    <div class="d-flex mt-2 flex-wrap gap-2">
      <div class="d-flex flex-wrap gap-2" data-previews-target="previewContainer">
      </div>
        <%= turbo_frame_tag "images" do %>
          <div class="d-flex flex-wrap gap-2">
          <% if recent_job.images.attached? %>
              <% recent_job.images.each do |image| %>
                <div class="image-container">
                  <%= link_to admin_remove_recent_job_image_path(recent_job, image),
                    class: "remove-image-button text-white fs-5 opacity-75",
                    data: { turbo_stream: true, turbo_confirm: "Delete this image?" } do %>
                    <i class="bi bi-x-square-fill"></i>
                  <% end %>
                  <%= image_tag image.variant(:thumb), data: { previews_target: "previewContainer" }, width: "150", class: "preview-image" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>


  <div>
    <%= form.label :location, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :location, required: true, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.textarea :description, required: true, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= form.submit "Create Job", class: "saira-stencil-one-regular btn btn-warning cta-btn" %>
  </div>
<% end %>
