<%= form_with(model: recent_job, url: admin_recent_jobs_path) do |form| %>
  <% if admin_recent_job.errors.any? %>
    <div style="color: red">
      <ul>
        <% recent_job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="previews">
    <%= form.label :main_image, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :main_image,
      accept: "image/*",
      class: "form-control",
      direct_upload: true,
      data: { previews_target: "input", action: "change->previews#preview"} %>

    <div class="my-1 d-flex" data-previews-target="previewContainer">
      <% if recent_job.image.attached? %>
        <%= image_tag testimonial.image.variant(:thumb), style: "width: 150px" %>
      <% end %>
    </div>

  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
