<%= form_with(model: admin_job) do |form| %>
  <% if admin_job.errors.any? %>
    <div style="color: red">
      <ul>
        <% admin_job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.textarea :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :main_image, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :main_image, class: "form-control", accept: 'image/*' %>
  </div>

  <div>
    <%= form.label :images, style: "display: block", class: "saira-stencil-one-regular text-white" %>
    <%= form.file_field :images, class: "form-control", accept: 'image/*', multiple: true %>
  </div>

  <div class="mt-3">
    <%= form.submit class: "btn btn-warning cta-btn saira-stencil-one-regular" %>
  </div>
<% end %>
