<p style="color: green"><%= notice %></p>

<%= render @admin_job %>

<div>
  <%= link_to "Edit this job", edit_admin_job_path(@admin_job) %> |
  <%= link_to "Back to jobs", admin_jobs_path %>

  <%= button_to "Destroy this job", @admin_job, method: :delete %>
</div>
