    <div class="container pt-5 border-top mt-3">
      <h1 class=" text-white text-center rubik-dirt-regular">
        Check out our recent jobs.
      </h1>
    </div>
    <!-- Images -->
    <div class="row justify-content-center py-3 px-1 px-sm-0">
      <% unless jobs.nil? || jobs.count != 3 %>
        <% jobs.each do |job| %>
          <div class="col col-md-3 px-1">
            <%= image_tag job.main_image.variant(:medium), size: 500, class: "recent-gallery-img" %>
          </div>
        <% end %>
      <% else %>
        <div class="col col-md-3 px-1">
          <%= image_tag "https://placehold.co/400", size: 500, class: "recent-gallery-img" %>
        </div>
        <div class="col col-md-3 px-1">
          <%= image_tag "https://placehold.co/400", size: 500, class: "recent-gallery-img" %>
        </div>
        <div class="col col-md-3 px-1">
          <%= image_tag "https://placehold.co/400", size: 500, class: "recent-gallery-img" %>
        </div>
      <% end %>
    </div>
    <!-- Gallery CTA -->
    <div class="container d-flex justify-content-center text-nowrap">
      <%= link_to "See More", work_path, class: "btn btn-warning fs-5 shadow saira-stencil-one-regular cta-btn" %>
    </div>
