<%= content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>

<div class="container-fluid hero-section d-flex flex-column justify-content-center mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xxl-6 text-xxl-center">
      <h1 class="display-1 rubik-dirt-regular text-shadow-gray">
        <span>The <span class="text-white"><em>mission</em></span> is clear.</span>
      </h1>
      <p class="rubik-dirt-regular fs-2 text-shadow text-white">
      Professional service delivered the way <em>you</em> need it.
      </p>
      <div class="d-flex justify-content-center">
        <a href="#details" class="shadow px-4 btn btn-warning cta-btn-lg py-2 fs-5 mt-5 saira-stencil-one-regular">
          See Below
          <i class="bi bi-chevron-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<section id="details" class="pt-5 pb-4">
    <!-- Value Icons -->
  <div class="container bg-warning d-flex justify-content-between values-container py-2 px-0">
      <div class="text-center icon-container">
        <%= inline_svg "handshake.svg", class: "value-icon" %>
        <h4 class="saira-stencil-one-regular">Trust</h4>
      </div>
      <div class="text-center icon-container">
        <%= inline_svg "house-hand.svg", class: "value-icon" %>
        <h4 class="saira-stencil-one-regular">Integrity</h4>
      </div>
      <div class="text-center icon-container">
        <%= inline_svg "glasses-helmet.svg", class: "value-icon" %>
        <h4 class="saira-stencil-one-regular">Safety</h4>
      </div>
  </div>

  <!-- About Details -->
  <div class="container-fluid blur py-4">
    <div class="row justify-content-center align-items-center flex-wrap-reverse py-3 py-md-5 text-shadow-light">
      <div class="col-12 col-sm-8 col-md-6 col-xl-5 py-3 py-sm-0">
        <h1 class="rubik-dirt-regular display-3 text-white">Our word is our <em>bond.</em></h1>
        <p class="saira-stencil-one-regular fs-5 text-white">
          Remember when deals were done with a handshake and a persons word was the most important thing they had? 
          Those days and the principles that governed them aren't gone. At least not with us. Don't take things at face-value?
          You don't have to - our services are fully backed by professional licensing and insurance. 
        </p>
      </div>
      <div class="col-8  col-sm-4 col-md-4 col-xl-3 col-xxl-2">
        <%= image_tag "chris-saw.webp", class: "img-fluid w-100 shadow" %>
      </div>
    </div>

    <div class="row pt-3 pt-md-5 pb-5 text-shadow-light">
      <div class="col"></div>

      <div class="col-12 col-md-10 col-xl-8 col-xxl-7">
        <h1 class="rubik-dirt-regular text-white mb-3">Professional service since 2024</h1>
        <%= image_tag "tree-trimming-cut-high.webp", class: "float-start me-3 about-details-img" %>
        <p class="saira-stencil-one-regular fs-5 text-white">
          Proudly based in beautiful Monroe, Michigan, we know the value of good neighbours and that's exactly what 
          we strive to be to locals and the surrounding Monroe County communities.
        </p>
        <p class="saira-stencil-one-regular fs-5 text-white">
          <em>The Axe Man</em> was founded on the principle of 
          service, the idea that if we take care of our community, the rest will take care of itself. Since our inception 
          in 2024, we have continued to do our work with this in mind and the results speak for themselves.
        </p>
        <p class="saira-stencil-one-regular fs-5 text-white">
           The way we see it, every fulfilled 
          landscaping vision, every home secured from the threat of overhanging branches and dead trees, every rising 
          plume of chimney smoke from homes heated with firewood split and dried by our own hands is a testament 
          to the value of doing things right. Our promise to you, is to continue to conduct ourselves in this manner; as though your 
          home was our home, your business was our business - because as a community together, there is no difference.
        </p>
        <p class="saira-stencil-one-regular fs-5 text-white">
          Whether you're in search of a quality source of firewood this winter, someone to save your property from the threat 
          of overgrown or badly positioned trees or dreaming of a landscaping overhaul that will transform your home or business 
          into a space that feels alive and fresh - we offer a full spectrum of landscaping, tree-trimming, arborist and firewood <a href="/services" class="link-light">services</a> 
          to all home and business owners in the Monroe County area.
        </p>
      </div>

      <div class="col"></div>
    </div>

    <div class="container d-flex flex-column align-items-center pb-4">
      <h3 class="rubik-dirt-regular text-center pt-3 mb-3 text-shadow-gray">
        Have Questions?<span class="text-white"> Just call.</span>
      </h3>
      <%= link_to "Call Today", "tel:+17344507995", class: "btn btn-warning shadow px-4 cta-btn-lg saira-stencil-one-regular fs-5" %>
    </div>

    <%= render "recent_work_preview", jobs: @jobs %>

  </div>
</section>
