<%= content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>

<div class="container-fluid hero-section d-flex flex-column justify-content-center mb-5">
  <div class="row">
    <aside class="col"></aside>
    <div class="col-12 col-md-8">
      <h1 class="display-1 rubik-dirt-regular text-shadow-light">
        <span>The <span class="text-white"><em>mission</em></span> is clear.</span>
      </h1>
      <p class="rubik-dirt-regular fs-2 text-shadow text-white">
      Professional service delivered the way <em>you</em> need it.
      </p>
      <div class="d-flex justify-content-center">
      <a href="#details" class="shadow px-4 btn btn-warning cta-btn-lg py-2 mt-5 fs-5 saira-stencil-one-regular">
        Read More
        <i class="bi bi-chevron-down"></i>
      </a>
      </div>
    </div>
    <aside class="col"></aside>
  </div>
</div>

<section id="details" class="py-5">
    <!-- Value Icons -->
  <div class="container bg-warning d-flex justify-content-between values-container py-3 px-0">
      <div class="text-center icon-container">
        <%= inline_svg "handshake.svg", class: "value-icon" %>
        <h3 class="saira-stencil-one-regular">Trust</h3>
      </div>
      <div class="text-center icon-container">
        <%= inline_svg "house-hand.svg", class: "value-icon" %>
        <h3 class="saira-stencil-one-regular">Integrity</h3>
      </div>
      <div class="text-center icon-container">
        <%= inline_svg "glasses-helmet.svg", class: "value-icon" %>
        <h3 class="saira-stencil-one-regular">Safety</h3>
      </div>
  </div>

  <!-- About Details -->
  <div class="container-fluid blur pt-5 pt-md-3">
    <div class="row justify-content-center align-items-center flex-wrap-reverse py-3 py-md-5 text-shadow-light">
      <div class="col-12 col-sm-5 col-xl-5 py-3 py-sm-0">
        <h1 class="rubik-dirt-regular display-3 text-white">Our word is our <em>bond.</em></h1>
        <p class="saira-stencil-one-regular fs-5 text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores est deserunt vitae doloremque facilis provident maxime nostrum quas aliquid! Consequuntur velit asperiores doloremque facere? Suscipit voluptatum, nesciunt consectetur at et, tempore nobis ab dicta, eveniet reiciendis consequuntur a. At earum expedita, unde provident dolor quaerat excepturi ab nobis numquam quos.
        </p>
      </div>
      <div class="col-8  col-sm-3 col-xl-3">
        <%= image_tag "chris-saw.jpg", class: "img-fluid w-100 shadow" %>
      </div>
    </div>

    <div class="row py-5 text-shadow-light">
      <div class="col"></div>

      <div class="col-12 col-md-8">
        <h1 class="rubik-dirt-regular text-white mb-3">Professional service since 2024</h1>
        <%= image_tag "tree-trimming-cut-high.jpg", class: "float-start me-3 about-details-img" %>
        <p class="saira-stencil-one-regular text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dicta autem tempore culpa tenetur facere ut! Ea commodi asperiores ab possimus excepturi corrupti officia consectetur ut cupiditate minus. Aliquid minus distinctio harum porro, pariatur dolorum, laborum similique ut voluptatum adipisci odit ex modi voluptatibus possimus aut sit ab ullam at!
        </p>
        <p class="saira-stencil-one-regular text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dicta autem tempore culpa tenetur facere ut! Ea commodi asperiores ab possimus excepturi corrupti officia consectetur ut cupiditate minus. Aliquid minus distinctio harum porro, pariatur dolorum, laborum similique ut voluptatum adipisci odit ex modi voluptatibus possimus aut sit ab ullam at!
        </p>
        <p class="saira-stencil-one-regular text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dicta autem tempore culpa tenetur facere ut! Ea commodi asperiores ab possimus excepturi corrupti officia consectetur ut cupiditate minus. Aliquid minus distinctio harum porro, pariatur dolorum, laborum similique ut voluptatum adipisci odit ex modi voluptatibus possimus aut sit ab ullam at!
        </p>
        <p class="saira-stencil-one-regular text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dicta autem tempore culpa tenetur facere ut! Ea commodi asperiores ab possimus excepturi corrupti officia consectetur ut cupiditate minus. Aliquid minus distinctio harum porro, pariatur dolorum, laborum similique ut voluptatum adipisci odit ex modi voluptatibus possimus aut sit ab ullam at!
        </p>
      </div>

      <div class="col"></div>
    </div>

    <div class="container d-flex flex-column align-items-center pb-5">
      <h3 class="rubik-dirt-regular text-center text-white py-3">Have questions?</h3>
      <%= link_to "Call Today", "tel:+17052740375", class: "btn btn-warning shadow px-4 cta-btn-lg saira-stencil-one-regular fs-5" %>
    </div>

    <div class="container py-5 border-top">
      <div class="row">
        <div class="col px-1">
          <%= image_tag "https://placehold.co/500X350", class: "img-fluid w-100" %>
        </div>
        <div class="col px-1">
          <%= image_tag "https://placehold.co/500X350", class: "img-fluid w-100" %>
        </div>
        <div class="col px-1">
          <%= image_tag "https://placehold.co/500X350", class: "img-fluid w-100" %>
        </div>
      </div>
    </div>
  </div>
</section>
