<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>
<!-- Home Hero -->
<header>
  <div class="container-fluid">
    <div class="row">

      <aside class="col"></aside>

      <main class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <div class="container">
          <div class="d-flex align-items-center hero-section">
            <p class="display-1 rubik-dirt-regular mt-5" style="text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);">
              <span class="text-white">Got a tough job?</span> Let us chop it down to size.
          <%= link_to "Call Now",
            "tel:+17052740375",
            class: "cta-btn btn text-nowrap btn-warning fs-5 ms-3 btn-sm-lg mb-1 shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
            </p>
          </div>
        </div>
      </main>

      <aside class="col"></aside>

    </div>
  </div>
</header>
<!-- Services Preview -->
<section id="services">
  <div class="container-fluid">
    <div class="row py-5">

      <div class="container col-12 col-sm-4 mb-5">
        <div class="bg-transparent d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 shadow mb-2">
          <div class="card-body text-center text-white text-shadow">
            <h3 class="card-title saira-stencil-one-regular">Service One</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-5">
        <div class="bg-transparent  d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 mb-2">
          <div class="card-body text-center text-white text-shadow">
            <h3 class="card-title saira-stencil-one-regular">Service Two</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-3">
        <div class="bg-transparent  d-flex flex-column align-items-center">
          <img src="https://placehold.co/400" alt="" class="card-image w-75 mb-2">
          <div class="card-body text-center text-white text-shadow">
            <h3 class="card-title saira-stencil-one-regular">Service Three</h3>
            <p class="card-text saira-stencil-one-regular">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam consequatur odit ipsum recusandae quis temporibus.
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- Services Details CTA -->
    <div class="row justify-content-center flex-column align-items-center py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="rubik-dirt-regular text-center display-3 mb-5 text-shadow-light">
          See what <em><span class="text-white text-shadow">we</span></em> can do for <em><span class="text-white text-shadow">you.</span></em>
        </h1>
        <div class="container d-flex justify-content-center text-nowrap">
          <%= link_to "Service Details", services_path, class: "btn btn-lg btn-warning shadow fs-4 saira-stencil-one-regular cta-btn-lg px-3" %>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- About -->
<section id="about" class="py-5">
  <div class="container-fluid py-5 blur">
    <div class="row py-5 justify-content-center">
      <!-- About Hero -->
      <div class="col-12 col-sm-5 col-md-4 col-xl-3">
        <%= image_tag "about-us.webp", class: "img-fluid" %>
      </div>
      <!-- About CTA -->
      <div class="col-12 col-sm-6 col-xl-4 d-flex align-items-center">
        <div class="container">
          <h1 class="display-3 rubik-dirt-regular text-white">Work done right.</h1>
          <p class="saira-stencil-one-regular text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae error nobis distinctio. Ea eligendi consequatur non laborum repudiandae repellat. Nobis harum autem delectus voluptatibus.</p>
          <div class="container d-flex justify-content-end pe-5">
            <%= link_to "Read More",
              about_path,
              class: "cta-btn btn text-nowrap btn-warning pt-2 btn-sm-lg shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Work Gallery -->
    <div class="container pt-5 border-top mt-3">
      <h1 class=" text-white text-center rubik-dirt-regular">
        Check out our recent jobs.
      </h1>
    </div>
    <!-- Images -->
    <div class="row flex-wrap justify-content-center py-3">
        <%= image_tag "https://placehold.co/400", class: " gallery-img p-1" %>
        <%= image_tag "https://placehold.co/400", class: " gallery-img p-1" %>
        <%= image_tag "https://placehold.co/400", class: " gallery-img p-1" %>
    </div>
    <!-- Gallery CTA -->
    <div class="container d-flex justify-content-center text-nowrap">
      <%= link_to "See More", work_path, class: "btn btn-warning shadow fs-5 saira-stencil-one-regular cta-btn" %>
    </div>
  </div>
</section>
