<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>
<% content_for :title, "The Axe Man - Home" %>
<!-- Home Hero -->
<header>
  <div class="container-fluid">
    <div class="row">

      <aside class="col"></aside>

      <main class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <div class="container py-xxl-5">
          <div class="d-flex align-items-center hero-section">
            <p class="display-1 rubik-dirt-regular mt-5" style="text-shadow: 1px 1px 5px rgba(75, 75, 75, 0.5);">
              <span class="text-white">Got a tough job?</span> Let us chop it down to size.
          <%= link_to "Call Now",
            "tel:+17344507995",
            class: "cta-btn-lg px-4 btn text-nowrap btn-warning fs-5 ms-3 btn-sm-lg mb-1 shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
            </p>
          </div>
        </div>
      </main>

      <aside class="col"></aside>

    </div>
  </div>
</header>
<!-- Services Preview -->
<section id="services">
  <div class="container-fluid">
    <div class="row py-5 justify-content-center">

      <div class="container col-12 col-sm-4 mb-5 px-3">
        <div class="bg-transparent d-flex flex-column align-items-center">
          <%= image_tag "tree-fell-stihl.webp", class: "card-image service-card-img w-75 shadow mb-2" %>
          <div class="card-body text-center text-white text-shadow-light">
            <h3 class="card-title saira-stencil-one-regular mb-1">Tree Services</h3>
            <p class="card-text saira-stencil-one-regular fs-5">
            Stumps, over-hanging branches, dead trees in precarious places. With the right lines, equipment and crew we handle it all while keeping your property safe.  
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-5 px-3">
        <div class="bg-transparent  d-flex flex-column align-items-center">
          <%= image_tag "landscape-corner-house.webp", class: "card-image service-card-img w-75 shadow mb-2" %>
          <div class="card-body text-center text-white text-shadow-light">
            <h3 class="card-title saira-stencil-one-regular mb-1">Landscaping</h3>
            <p class="card-text saira-stencil-one-regular fs-5">
            Mulch, stone, trees and gardens. How about that driveway that's been overtaken by weeds and wet spots? Our professionals can turn your property into paradise.
            </p>
          </div>
        </div>
      </div>

      <div class="container col-12 col-sm-4 mb-3 px-3">
        <div class="bg-transparent  d-flex flex-column align-items-center">
          <%= image_tag "trailer-wood1.webp", class: "card-image service-card-img w-75 shadow mb-2" %>
          <div class="card-body text-center text-white text-shadow-light">
            <h3 class="card-title saira-stencil-one-regular mb-1">Premium Firewood</h3>
            <p class="card-text saira-stencil-one-regular fs-5">
            Properly seasoned hardwood makes all the difference when winter hits hard. Keep the cold out and save money burning wood that is cured right.
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- Services Details CTA -->
    <div class="row justify-content-center flex-column align-items-center py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="rubik-dirt-regular text-center display-3 mb-5 text-shadow-gray">
          See what <em><span class="text-white text-shadow">we</span></em> can do for <em><span class="text-white text-shadow">you.</span></em>
        </h1>
        <div class="container d-flex justify-content-center text-nowrap">
          <%= link_to "Service Details", services_path, class: "btn btn-lg btn-warning shadow fs-4 saira-stencil-one-regular cta-btn-lg px-3" %>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- About -->
<section id="about" class="pt-5 pb-4">
  <div class="container-fluid pt-5 pb-4 blur">
    <div class="row py-md-3 justify-content-center">
      <!-- About Hero -->
      <div class="col-10 col-sm-5 col-md-4 col-xl-3">
        <%= image_tag "about-us.webp", class: "img-fluid" %>
      </div>
      <!-- About CTA -->
      <div class="col-12 col-sm-6 col-xl-4 d-flex py-2 align-items-center">
        <div class="container">
          <h1 class="display-3 rubik-dirt-regular text-white">Work done right.</h1>
          <p class="saira-stencil-one-regular text-white">
            It's your home, your business. The stakes couldn't be more high when considering who to hire to remove trees,
            plant healthy gardens or fix your worn out driveway. Plan with confidence, knowing you have fully licensed 
            and insured professionals treating your property with the respect of a good neighbour - because that's who we are.
          </p>
          <div class="container d-flex justify-content-end pe-5">
            <%= link_to "Read More",
              about_path,
              class: "cta-btn btn btn-warning shadow saira-stencil-one-regular", style: "text-shadow: none;" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Recent Work Gallery -->

    <%= render "recent_work_preview", jobs: @jobs %>

  </div>
</section>
