<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center hero-section align-items-center">
    <div class="container col-12 col-md-8">
      <h1 class="display-1 rubik-dirt-regular text-shadow-gray">
        <span class="text-white">You plan it. </span><span>We make it happen.</span>
      </h1>
      <p class="rubik-dirt-regular fs-3 text-shadow text-white">
      See our list of services below, or give us a call to discuss how we can help.
      </p>
      <%= link_to "Call Us", "tel:+17344507995", class: "btn cta-btn-lg fs-5 px-5 btn-warning saira-stencil-one-regular shadow" %>
    </div>
  </div>
</div>

<div class="container-fluid blur pt-3 mb-4">
  <h1 class="rubik-dirt-regular text-center text-white display-1 py-4 py-md-5">
    Our Services
  </h1>
  <div class="row justify-content-center py-3 py-xxl-5 bg-warning" id="tree-service">
    <div class="col-11 col-md-10 col-lg-8 col-xl-7 col-xxl-6">

      <h1 class="rubik-dirt-regular text-center">
        Tree Trimming and Removal
      </h1>
      <p class="saira-stencil-one-regular text-center fs-4">
      <em>The Axe Man</em> offers a wide variety of tree-trimming and arborist services to residential and commercial
      properties across Monroe County and beyond.
      </p>

    </div>
  </div>

  <div class="row justify-content-center align-items-center pt-5 flex-wrap-reverse">
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Tree Trimming/Grooming</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Tired of raking mountains of leaves and picking up twigs and branches from deadfall? Want to open up that view? Maybe you've got 
        branches leaving debris on your roof and clogging your eaves... Whatever it is, we have
        the crew, trailer and equipment to fix it. Your lawn, view and waterspouts can be spotless and clear with a single phone call.
      </p>
    </div>
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
        <%= image_tag "tree-grooming.jpg", class: "img-fluid w-100 mb-3 gallery-img shadow" %>

    </div>
  </div>

  <div class="row justify-content-center align-items-center py-3">
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
        <%= image_tag "tree-fell-stihl.webp", class: "img-fluid w-100 mb-3 gallery-img shadow" %>

    </div>
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Full Removal</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Tree removal, large or small comes with many challenges and even lethal dangers. Save yourself the stress, hospital visit 
        or damage to your buildings and other property by hiring us as your licensed and insured professionals. At <em>The Axe Man</em> 
        we come prepared with the proper equipment, lines, experience and training to take down the largest of trees making a mess 
        in your yard or threatening damage to expensive property such as vehicles and buildings.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center pb-5 flex-wrap-reverse">
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Fall Leaf Cleanup</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
      Maybe you like your trees just the way they are, or aren't ready to do something about them - you just need a hand with the mess! 
      Our crews, equipped with the right blowers, bags and trailer would be happy to make all your leaf-litter problems disappear in a 
      flash.
      </p>
    </div>
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
        <%= image_tag "leaves-clean.jpg", class: "img-fluid w-100 mb-3 gallery-img shadow" %>

    </div>
  </div>



  <div class="row justify-content-center py-3 bg-warning" id="landscaping">
    <div class="col-11 col-md-10 col-lg-8 col-xl-7 col-xxl-6">

      <h1 class="rubik-dirt-regular text-center">
        Landscaping
      </h1>
      <p class="saira-stencil-one-regular text-center fs-4">
        Few things add as much value, style and beauty to a property as tasteful landscaping. The grounds 
        surrounding your home or commercial building are the perfect place to set the tone and feeling you want to have when you pull into 
        the driveway. 
      </p>

    </div>
  </div>

  <div class="row justify-content-center align-items-center pt-5 flex-wrap-reverse">
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Tree and Garden Planting</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Planting trees, shrubs and flowers is not only hard work - if done improperly you can wake up to brown needles, dried up 
        bushes and the bare branches of a dying tree. Save yourself the money of doing things twice and give your investment a chance at life! 
      </p>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Our professionals know what it takes to keep trees and plants healthy from day one to day one-hundred.
      </p>
    </div>
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
      <%= image_tag "landscaping1.webp", class: "img-fluid w-100 gallery-img mb-3 shadow" %>

    </div>
  </div>

  <div class="row justify-content-center align-items-center py-4">
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
        <%= image_tag "landscaping-stone-wall2.jpg", class: "img-fluid w-100 mb-3 gallery-img shadow" %>

    </div>
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Mulch and Stone</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Nothing beats the fresh smell and vibrant look of new mulch! Whether it's a refresh to bring old landscaping back to life 
        or a completely blank slate, we source clean and premium materials for every job.
      </p>
    </div>
  </div>

  <div class="row justify-content-center align-items-center pb-5">
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Driveways</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
      Puddles, weeds, a lawn that creeps further and further every year. We've seen it and fixed it. 
      Let us make your driveway brand new again in no time with our tractor, trailer and crew of professionals.
      </p>
    </div>
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
        <%= image_tag "driveway-after1.jpg", class: "img-fluid w-100 mb-3 gallery-img shadow" %>

    </div>
  </div>


  <div class="row justify-content-center py-4 bg-warning" id="firewood">
    <div class="col-11 col-md-10 col-lg-8 col-xl-7 col-xxl-6">

      <h1 class="rubik-dirt-regular text-center">
        Premium Firewood
      </h1>
      <p class="saira-stencil-one-regular text-center fs-4">
      Nothing beats wood heat. We offer deals on premium, properly cured hard and softwoods available for pickup
      or delivery.
      </p>

    </div>
  </div>

  <div class="row justify-content-center align-items-center py-5">
    <div class="col-8 col-sm-10 col-md-5 col-lg-4 col-xxl-3">
        
      <%= image_tag "trailer-wood1.webp", class: "img-fluid  gallery-img w-100 mb-3 shadow" %>

    </div>
    <div class="col-12 col-sm-10 col-md-7 col-xl-6 col-xxl-5">
      <h3 class="saira-stencil-one-regular text-white opacity-75"><em>Rates</em></h3>
      <p class="saira-stencil-one-regular fs-5 text-white">
        Rates starting at $100 per face cord plus delivery charges. For more information, special requests or inquiries, just give us a call!
      </p>
    </div>
  </div>

  <div class="container d-flex align-items-center flex-column border-top py-5">
    <h3 class="rubik-dirt-regular text-center text-shadow-gray">
      Have Questions?<span class="text-white"> Just call.</span>
    </h3>
    <%= link_to "Call Now", "tel:+17344507995", class: "btn cta-btn btn-warning fs-5 saira-stencil-one-regular shadow mt-3" %>
  </div>
</div>
