<% content_for :background_image do %>
  <div class="home-bg"></div>
<% end %>

<div class="container-fluid">
  <div class="row justify-content-center hero-section align-items-center">
    <div class="container col-12 col-md-8">
      <h1 class="display-1 rubik-dirt-regular text-shadow-gray">
        <span class="text-white">You plan it. </span><span>We make it happen.</span>
      </h1>
      <p class="rubik-dirt-regular fs-3 text-shadow text-white">
      See our list of services below, or give us a call to discuss how we can help.
      </p>
      <%= link_to "Call Us", "tel:+17344507995", class: "btn cta-btn-lg fs-5 px-5 btn-warning saira-stencil-one-regular shadow" %>
    </div>
  </div>
</div>

<div class="container-fluid blur pt-3 mb-4">
  <h1 class="rubik-dirt-regular text-center text-white display-3 py-4 py-md-5">
    Our Services
  </h1>
  <div class="row justify-content-center pt-3 pb-4 pb-md-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-3">
      <%= image_tag "https://placehold.co/400x300", class: "img-fluid w-100 mb-3 shadow" %>
    </div>
    <div class="col-11 col-md-10 col-lg-6">
      <h2 class="rubik-dirt-regular text-white">
        Tree Trimming and Removal
      </h2>
      <p class="saira-stencil-one-regular text-white opacity-75">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam et nihil rem! Mollitia sequi in magni. Nulla saepe quae quod? Eum vero nihil quisquam quas perferendis aut delectus beatae facilis. Asperiores ipsam id placeat architecto eveniet eaque earum, tenetur blanditiis error rerum distinctio repellendus necessitatibus iste eius libero assumenda quidem! Laboriosam explicabo modi atque voluptatibus dignissimos velit error sit esse rem harum fugit unde, corrupti autem officiis iure facilis quidem nisi nesciunt illo? Ratione aperiam vero modi at aliquid odio!
      </p>
    </div>
  </div>
  <div class="row justify-content-center py-4 py-md-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-3">
      <%= image_tag "https://placehold.co/400x300", class: "img-fluid w-100 mb-3 shadow" %>
    </div>
    <div class="col-11 col-md-10 col-lg-6">
      <h2 class="rubik-dirt-regular text-white">
        Landscaping
      </h2>
      <p class="saira-stencil-one-regular text-white opacity-75">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam et nihil rem! Mollitia sequi in magni. Nulla saepe quae quod? Eum vero nihil quisquam quas perferendis aut delectus beatae facilis. Asperiores ipsam id placeat architecto eveniet eaque earum, tenetur blanditiis error rerum distinctio repellendus necessitatibus iste eius libero assumenda quidem! Laboriosam explicabo modi atque voluptatibus dignissimos velit error sit esse rem harum fugit unde, corrupti autem officiis iure facilis quidem nisi nesciunt illo? Ratione aperiam vero modi at aliquid odio!
      </p>
    </div>
  </div>
  <div class="row justify-content-center py-4 py-md-5">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-3">
      <%= image_tag "https://placehold.co/400x300", class: "img-fluid w-100 mb-3 shadow" %>
    </div>
    <div class="col-11 col-md-10 col-lg-6">
      <h2 class="rubik-dirt-regular text-white">
        Premium Firewood
      </h2>
      <p class="saira-stencil-one-regular text-white opacity-75">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam et nihil rem! Mollitia sequi in magni. Nulla saepe quae quod? Eum vero nihil quisquam quas perferendis aut delectus beatae facilis. Asperiores ipsam id placeat architecto eveniet eaque earum, tenetur blanditiis error rerum distinctio repellendus necessitatibus iste eius libero assumenda quidem! Laboriosam explicabo modi atque voluptatibus dignissimos velit error sit esse rem harum fugit unde, corrupti autem officiis iure facilis quidem nisi nesciunt illo? Ratione aperiam vero modi at aliquid odio!
      </p>
    </div>
  </div>
  <div class="container d-flex align-items-center flex-column border-top py-5">
    <h3 class="rubik-dirt-regular text-center text-shadow-gray">
      More Questions?<span class="text-white"> Just call.</span>
    </h3>
    <%= link_to "Call Now", "tel:+17344507995", class: "btn cta-btn btn-warning fs-5 saira-stencil-one-regular shadow mt-3" %>
  </div>
</div>
