<nav class="navbar navbar-expand-md blur bkg-charcoal navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand saira-stencil-one-regular" href="/">
      <%= image_tag "axe-logo-sm.png", size: "45" %>
      <em>The Axe Man</em>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="<%= home_path %>">Home</a>
        <a class="nav-link" href="<%= about_path %>">About</a>
        <a class="nav-link" href="<%= services_path %>">Services</a>
        <a class="nav-link" href="<%= work_path %>">Work</a>
      </div>
      <%= image_tag "american-flag-icon-small.png", size: "80x45", class: "ms-auto me-2 d-none d-md-block mb-3 mb-sm-0 opacity-75" %>
      <div class="d-flex justify-content-between align-items-center">
        <span class="saira-stencil-one-regular text-white opacity-75 contacts-text">
          <em>1-734-450-7995<br>info@the-axe-man.com</em>
        </span>
        <%= image_tag "american-flag-icon-small.png", size: "80x45", class: "ms-auto me-2 d-md-none mb-sm-0 opacity-75" %>
      </div>
    </div>
  </div>
</nav>
