<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Axe Man" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="The Axe Man">
    <meta name="description" content="Tree Removal and Landscaping business serving residential and commercial properties across Monroe County, Michigan, USA.">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Core Open Graph Tags -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : "The Axe Man" %>" />
    <meta property="og:description" content="Tree Removal and Landscaping business serving residential and commercial properties across Monroe County, Michigan, USA.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    
    <!-- Link Preview Image (Must be an absolute URL) -->
    <meta property="og:image" content="<%= image_url('og-1.jpg') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%# Preload fonts and background images %>
    <%= preload_link_tag asset_path("RubikDirt-Regular.woff2"), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path("SairaStencil-Bold.woff2"), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path("axe-stump.webp"), as: "image", type: "image/webp" %>

    <style>
      @font-face {
        font-family: "Rubik Dirt";
        src: url('RubikDirt-Regular.woff2') format('woff2'),
            url('RubikDirt-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Saira Stencil One";
        src: url('SairaStencil-Bold.woff2') format('woff2'),
            url('SairaStencil-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
    </style>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= yield :background_image %>

    <%= render "layouts/navigation" %>

    <%= yield %>

    <% if @testimonials.any? %> 
      <%= render "shared/testimonials", testimonials: @testimonials %>
    <% end %>

    <%= render "layouts/footer" %>
  </body>
</html>
