<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Axe Man" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="The Axe Man">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%# Preload fonts and background images %>
    <%= preload_link_tag asset_path("RubikDirt-Regular.woff2"), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path("SairaStencil-Bold.woff2"), as: "font", type: "font/woff2", crossorigin: "anonymous" %>
    <%= preload_link_tag asset_path("axe-stump.webp"), as: "image", type: "image/webp" %>


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= yield :background_image %>

    <%= render "layouts/navigation" %>

    <%= yield %>

    <%= render "shared/testimonials", testimonials: @testimonials %>

    <%= render "layouts/footer" %>
  </body>
</html>
